
/*.ui-layout-west, .ui-layout-north-west, .ui-layout-north, .ui-layout-south, .ui-layout-center {border: 1px solid #c9d7f1;}*/
/*.ui-layout-west, .ui-layout-north, .ui-layout-north-west, .ui-layout-south {background-color:#E9E9E9;}*/
.ui-layout-west{background-color:WhiteSmoke;}
.ui-layout-header {position:absolute; top:0px; width:100%; height:20px; border-bottom:1px solid #c9d7f1; font-size:13px; padding:4px 10px 0px 10px;}
.ui-layout-header a {padding-right:10px; color:#0000cc; text-decoration:underline; }
.ui-layout-header-2 {position:absolute; top:32px; width:100%; font-size:20px; font-weight:bold; padding:4px 10px 0px 10px;}
.pm-tool-links a {color:#0000cc;}
.pm-searchoptions, .pm-searchitem td {background-color:transparent; color:#000000;}
.pm-searchoptions select, .pm-searchitem input, .pm-searchitem select { background-color:#ffffff; }
#scalebar {right:0px; left:auto} 
#sliderArea {left:45px; top:45px; background-color:#ffffff;}
#scaleAreaX {
position: absolute;
bottom:60px;
right:40px;
background-color:#E9E9E9;
z-index:99;
} 
#toolLinkContainer {top:2px}
#scaleSuggest {background-color:#ffffff; border: 1px solid #999999;}
.scale-link {background-color:#ffffff;}
.scale-link-over {color: #000000; background-color: #d5ddf3;}
#scaleAreaX{background-color:transparent; border:none; opacity:1.0;} 

.pm-map-link, .pm-selectbox, #helpMessage {top: 5px; right:5px}
div.jqmdTC { background-color:#d4d4d4; color:#000000;}








.titulico {

}







.pm-logo-img{
text-align:center;
}

.pm-toolbar-td img, .pm-toolbar-td-off img{
height:24px;
width:24px;
text-align:right;
}

.pm-toolbar-td-off, .pm-toolbar-td-on{
	text-align:left;
	/*Borrar tras purgar default.css*/
}
/*
.pm-toolbar-td-off {
	text-align:left;
}

.pm-toolbar-td-on{
	text-align:left;
}*/

/* ESTILOS PROPIOS */
/* Z. PANELES */
/* Z.1. PANEL LATERAL */
/* Z.2. PANEL CENTRAL */


/* A. PANEL LATERAL */
/* A.1. CABECERA */
#cabecera-panel-lateral{
	height:auto;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:100%;
}

#logo-principal{
	display:block;
	height:65px;
	margin:20px auto 10px auto;
	width:190px;
}

#logo-principal img{
	border:medium none;
	height:65px;
	vertical-align:middle;
	width:190px;
}

#logo-secundario{
	display:block;
	height:30px;
	margin:15px auto 10px auto;
	width:95px;
}

#logo-secundario img{
	border:medium none;
	height:30px;
	vertical-align:middle;
	width:95px;
}

#ocultar-panel-lateral{
	position:absolute;
	right:10px;
	top:20px;
}

#ocultar-panel-lateral img{
	height:16px;
	vertical-align:middle;
	width:16px;
}

/* A.2. LEYENDA */
#leyenda{
	border:1px solid darkgray;
	height:auto;
	margin-top:25px;
}

.leyenda-cabecera{
	background-color:rgba(255, 255, 255, 0.75);
	border-bottom:0.5px solid;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:larger;
	font-weight:bold;
	margin:0;
	padding:10px;
}

#toc{
	position:relative;
}

/* B. PANEL CENTRAL */
/* B.1. CUADRO DE BÚSQUEDA */
/* B.2. BOTÓN PARA MOSTRAR PANEL LATERAL */
#mostrar-panel-lateral{
	left:35px;
	position:absolute;
	top:5px;
	visibility:hidden;
	z-index:99;
}

#mostrar-panel-lateral img{
	height:32px;
	vertical-align:middle;
	width:32px;
}

/* B.3. BOTONES DE DESPLAZAMIENTO */
/* B.4. BARRA Y BOTONES PARA ACERCAR/ALEJAR */
/* B.5. BARRA DE MENÚ */
/* B.6. BOTÓN PARA OCULTAR/MOSTRAR BARRA DE MENÚ */
/* B.7. COORDENADAS */
#showcoords{
	background-color:rgba(47, 79, 79, 0.75);
	bottom:10px;
	color:white;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:xx-small;
	height:16px;
	left:60px;
	margin:0;
	position:absolute;
	width:160px;
	z-index:99;
}

#xcoord{
	float:left;
	padding:2px 6px 2px 4px;
}

#ycoord{
	float:right;
	padding:2px 4px 2px 6px;
}

/* B.8. FORMULARIO DE ESCALA */
/* B.9. BARRA DE ESCALA */
/* B.10. PIE */
#pie-panel-central{
	bottom:0;
	margin:0;
	padding:0;
	position:absolute;
	right:85px;
	z-index:99;
}

#pie-panel-central p{
	background-color:rgba(255, 255, 255, 0.75);
	color:#2F4F4F;
	display:inline;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:xx-small;
	margin:0;
	overflow:hidden;
	padding:1px;
	vertical-align:sub;
	white-space:nowrap;
}

/* B.11. LOGO DE LA BELLOTA SOFT */
#labellota-logo{
	bottom:0;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	z-index:99;
}

#labellota-logo a{
	background-color: rgba(255, 255, 255, 0.75);
	display:block;
	height:25px;
	width:85px;
}

#labellota-logo img{
	border:medium none;
	height:25px;
	width:85px;
	vertical-align:sub;
}

/* C. VENTANAS EMERGENTES */
/* C.1. ACERCA DE */
#acercade_MSG{
	background-color:whitesmoke;
	text-align:center;
}

#acercade_MSG a{
	color:steelblue ;
	font-weight:bold;
	text-decoration:none;
}

#acercade_MSG img{
	border:medium none;
	height:65px;
	margin:10px auto 5px auto;
	vertical-align:middle;
	width:190px;
}

#acercade_MSG p{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:normal;
}

.acercade_texto{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:normal;
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
}


/****/
#divTopSearch {
    display: block;
    /*left: 200px;*/
    margin-left: 10px;
    margin-top: 5px;
    padding: 0;
    /*position: absolute;
    top: 22px;*/
    z-index: 10000;
}

#formDireccion {
    background-color: white;
    border: 1px solid #374969;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
    display: block;
    float: left;
    margin-left: 0;
    position: relative;
}

#dropdownTipoDeBusqueda {
    cursor: pointer;
    display: block;
    float: left;
    height: 27px;
    padding: 0;
    position: relative;
    width: 90px;
}

#divTextboxBuscador {
    display: block;
    float: left;
    height: 32px;
    position: relative;
    width: 308px;
}

#divBuscarDireccion {
    float: right;
}

#BuscarDireccion {
    background: url("img/images3.png?v=7.80") no-repeat scroll -360px -93px rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 52px;
}