
/*.ui-layout-west, .ui-layout-north-west, .ui-layout-north, .ui-layout-south, .ui-layout-center {border: 1px solid #c9d7f1;}*/
/*.ui-layout-west, .ui-layout-north, .ui-layout-north-west, .ui-layout-south {background-color:#E9E9E9;}*/
.ui-layout-west{background-color:WhiteSmoke;}
.ui-layout-header {position:absolute; top:0px; width:100%; height:20px; border-bottom:1px solid #c9d7f1; font-size:13px; padding:4px 10px 0px 10px;}
.ui-layout-header a {padding-right:10px; color:#0000cc; text-decoration:underline; }
.ui-layout-header-2 {position:absolute; top:32px; width:100%; font-size:20px; font-weight:bold; padding:4px 10px 0px 10px;}
.pm-tool-links a {color:#0000cc;}
.pm-searchoptions, .pm-searchitem td {background-color:transparent; color:#000000;}
.pm-searchoptions select, .pm-searchitem input, .pm-searchitem select { background-color:#ffffff; }
#scalebar {right:0px; left:auto} 
#sliderArea {left:45px; top:45px; background-color:#ffffff;}
#scaleAreaX {
position: absolute;
bottom:60px;
right:40px;
background-color:#E9E9E9;
z-index:99;
} 
#toolLinkContainer {top:2px}
#scaleSuggest {background-color:#ffffff; border: 1px solid #999999;}
.scale-link {background-color:#ffffff;}
.scale-link-over {color: #000000; background-color: #d5ddf3;}
#scaleAreaX{background-color:transparent; border:none; opacity:1.0;} 
#showcoords {color:#000000}
.pm-map-link, .pm-selectbox, #helpMessage {top: 5px; right:5px}
div.jqmdTC { background-color:#d4d4d4; color:#000000;}




#showcoords {
background-color: rgba(0, 0, 0, 0.75);
color: white;
}



.titulico {

}



#toc{
position:relative;
}



.pm-logo-img{
text-align:center;
}

.pm-toolbar-td img, .pm-toolbar-td-off img{
height:24px;
width:24px;
}

.pm-toolbar-td-off .pm-toolbar-td-on{
	text-align:left;/*Borrar tras purgar default.css*/
}

/*ESTILOS PROPIOS*/
/* A. PANEL LATERAL */
/* A.1. CABECERA */
#cabecera-panel-lateral{
	height:auto;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:100%;
}

#logo-principal{
	display:block;
	height:65px;
	margin:20px auto 10px auto;
	width:190px;
}

#logo-principal img{
	border:medium none;
	height:65px;
	vertical-align:middle;
	width:190px;
}

#logo-secundario{
	display:block;
	height:30px;
	margin:15px auto 10px auto;
	width:95px;
}

#logo-secundario img{
	border:medium none;
	height:30px;
	vertical-align:middle;
	width:95px;
}

#ocultar-panel-lateral{
	position:absolute;
	right:10px;
	top:20px;
}

#ocultar-panel-lateral img{
	height:16px;
	vertical-align:middle;
	width:16px;
}

/* A.2. LEYENDA */
#leyenda{
	border:1px solid darkgray;
	height:auto;
	margin-top:25px;
}

.leyenda-cabecera{
	background-color:rgba(255, 255, 255, 0.75);
	border-bottom:0.5px solid;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:larger;
	font-weight:bold;
	margin:0;
	padding:10px;
}

/* B. PANEL CENTRAL */
/* B.9. PIE */
#pie-panel-central{
	bottom:0;
	margin:0;
	padding:0;
	position:absolute;
	right:95px;
	z-index:99;
}

#pie-panel-central p{
	background-color:rgba(255, 255, 255, 0.75);
	color:#2F4F4F;
	display:inline;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:xx-small;
	margin:0;
	overflow:hidden;
	padding:1px;
	vertical-align:sub;
	white-space:nowrap;
}

/* B.10. LOGO DE LA BELLOTA SOFT */
#labellota-logo{
margin:0px;
padding:0px;
    bottom: 0;
    /*color: #000;*/
   /* display: table-row;*/
    /*font-size: 10px;*/
	/*padding: 4px;*/
    /*padding-left: 3px;*/
    position: absolute;
    right: 0;
    z-index: 100;
}

#labellota-logo img{
	background-color: rgba(255, 255, 255, 0.75);
	height:35px;
	width:95px;
	display: inline;
	overflow: hidden;
	/*white-space: nowrap;*/
	vertical-align: sub;
	/*border:0px;*/
}




/****/
#divTopSearch {
    display: block;
    /*left: 200px;*/
    margin-left: 10px;
    margin-top: 5px;
    padding: 0;
    /*position: absolute;
    top: 22px;*/
    z-index: 10000;
}

#formDireccion {
    background-color: white;
    border: 1px solid #374969;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
    display: block;
    float: left;
    margin-left: 0;
    position: relative;
}

#dropdownTipoDeBusqueda {
    cursor: pointer;
    display: block;
    float: left;
    height: 27px;
    padding: 0;
    position: relative;
    width: 90px;
}

#divTextboxBuscador {
    display: block;
    float: left;
    height: 32px;
    position: relative;
    width: 308px;
}

#divBuscarDireccion {
    float: right;
}

#BuscarDireccion {
    background: url("img/images3.png?v=7.80") no-repeat scroll -360px -93px rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 52px;
}