
/*.ui-layout-west, .ui-layout-north-west, .ui-layout-north, .ui-layout-south, .ui-layout-center {border: 1px solid #c9d7f1;}*/
/*.ui-layout-west, .ui-layout-north, .ui-layout-north-west, .ui-layout-south {background-color:#E9E9E9;}*/
.ui-layout-west{background-color:WhiteSmoke;}
.ui-layout-header {position:absolute; top:0px; width:100%; height:20px; border-bottom:1px solid #c9d7f1; font-size:13px; padding:4px 10px 0px 10px;}
.ui-layout-header a {padding-right:10px; color:#0000cc; text-decoration:underline; }
.ui-layout-header-2 {position:absolute; top:32px; width:100%; font-size:20px; font-weight:bold; padding:4px 10px 0px 10px;}
.pm-tool-links a {color:#0000cc;}
.pm-searchoptions, .pm-searchitem td {background-color:transparent; color:#000000;}
.pm-searchoptions select, .pm-searchitem input, .pm-searchitem select { background-color:#ffffff; }
#scalebar {right:0px; left:auto} 
#sliderArea {left:15px; top:30px; background-color:#ffffff;}
#scaleArea {top:6px; left:40px; background-color:#E9E9E9} 
#toolLinkContainer {top:2px}
#scaleSuggest {background-color:#ffffff; border: 1px solid #999999;}
.scale-link {background-color:#ffffff;}
.scale-link-over {color: #000000; background-color: #d5ddf3;}
#scaleArea{background-color:transparent; border:none; opacity:1.0;} 
#showcoords {color:#000000}
.pm-map-link, .pm-selectbox, #helpMessage {top: 5px; right:5px}
div.jqmdTC { background-color:#d4d4d4; color:#000000;}
#img-logo-principal{position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
height: 60px;
width: 200px;
vertical-align: middle;}
#img-logo-secundario{
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
height: 30px;
width: 100px;
vertical-align: middle;
}

.pm-footer{
	background-color: rgba(255, 255, 255, 0.8);
 

    bottom: 0;
    color: #000;
   /* display: table-row;*/
    font-size: 10px;
	padding: 4px;
    /*padding-left: 3px;*/
    position: absolute;
    right: 0;
    z-index: 100;
	overflow: hidden;
}