/* ESTILOS PROPIOS */

/* X. GENERAL */
body, input, select{
	cursor:url(/matojos/images/punteros/puntero-defecto.cur), auto;
}

a{
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
}

input[type="text"]{
	cursor:url(/matojos/images/punteros/escribir.cur), auto;
}

.negrita{
	font-weight:bold;
}

/* Y. DIÁLOGOS */
.jqmClose{
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
}

.dragHandle{
	cursor:url(/matojos/images/punteros/mover.cur), auto;
}

/* Z. PANELES */

/* Z.1. PANEL LATERAL */
.ui-layout-west{
	background-color:WhiteSmoke;
}

.ui-layout-header {position:absolute; top:0px; width:100%; height:20px; border-bottom:1px solid #c9d7f1; font-size:13px; padding:4px 10px 0px 10px;}
.ui-layout-header a {padding-right:10px; color:#0000cc; text-decoration:underline; }
.ui-layout-header-2 {position:absolute; top:32px; width:100%; font-size:20px; font-weight:bold; padding:4px 10px 0px 10px;}
.pm-tool-links a {color:#0000cc;}
.pm-searchoptions, .pm-searchitem td {background-color:transparent; color:#000000;}
.pm-searchoptions select, .pm-searchitem input, .pm-searchitem select { background-color:#ffffff; }
/*#scalebar {right:0px; left:auto} */

/*#scaleAreaX {
position: absolute;
bottom:60px;
right:40px;
background-color:#E9E9E9;
z-index:99;
} */
#toolLinkContainer {top:2px}
#scaleSuggest {background-color:#ffffff; border: 1px solid #999999;}
.scale-link {background-color:#ffffff;}
.scale-link-over {color: #000000; background-color: #d5ddf3;}
/*#scaleAreaX{background-color:transparent; border:none; opacity:1.0;} */

.pm-map-link, .pm-selectbox, #helpMessage {top: 5px; right:5px}
div.jqmdTC { background-color:#d4d4d4; color:#000000;}


.pm-logo-img{
text-align:center;
}



/* Z.2. PANEL CENTRAL */
.ui-layout-center{
	cursor:url(/matojos/images/punteros/puntero-defecto.cur), auto;
}

.ui-layout-center a{
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
}

.ui-layout-center input[type="text"]{
	cursor:url(/matojos/images/punteros/escribir.cur), auto;
}

/* A. PANEL LATERAL */
/* A.1. CABECERA */
#cabecera-panel-lateral{
	height:auto;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:100%;
}

#logo-principal{
	display:block;
	height:65px;
	margin:20px auto 10px auto;
	width:190px;
}

#logo-principal img{
	border:medium none;
	height:65px;
	vertical-align:middle;
	width:190px;
}

#logo-secundario{
	display:block;
	height:30px;
	margin:15px auto 10px auto;
	width:95px;
}

#logo-secundario img{
	border:medium none;
	height:30px;
	vertical-align:middle;
	width:95px;
}

#ocultar-panel-lateral{
	position:absolute;
	right:10px;
	top:20px;
}

#ocultar-panel-lateral img{
	height:16px;
	vertical-align:middle;
	width:16px;
}

/* A.2. LEYENDA */
#leyenda{
	border:1px solid darkgray;
	height:auto;
	margin-top:25px;
}

.leyenda-cabecera{
	background-color:rgba(255, 255, 255, 0.75);
	border-bottom:0.5px solid;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:larger;
	font-weight:bold;
	margin:0;
	padding:10px;
}

#toc{
	position:relative;
}

.treeview .hitarea, .treeview .hover{
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
}

/* B. PANEL CENTRAL */
/* B.1. CUADRO DE BÚSQUEDA */
#searchContainer{
	background-color:rgba(255, 255, 255, 0.75);
	border:thin solid #477979;
	color:#2F4F4F;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:x-small;
	height:32px;
	left:100px;
	padding:0;
	position:absolute;
	top:10px;
	width:auto;
	z-index:99;
}

#tipo-buscar{
	border:0 none;
	cursor:url("/matojos/images/punteros/mano-acusadora.cur"), pointer;
	font-weight:bold;
	float:left;
	height:32px;
	margin-top:9px;
	padding-left:6px;
	overflow:hidden;
	text-align:left;
	width:64px;
}

.flechita-elementos-buscar{
	background:url("/matojos/images/botones/flechita.png") no-repeat scroll center center rgba(47, 79, 79, 0.75);
	border:0 none;
	cursor:url("/matojos/images/punteros/mano-acusadora.cur"), pointer;
	height:32px;
	float:left;
	width:16px;
}

.lista-desplegable-buscar{
	background-color:rgba(255, 255, 255, 0.75);
	cursor:url("/matojos/images/punteros/mano-acusadora.cur"), pointer;
	overflow:hidden;
	position:absolute;
	left:0;
	top:32px;
}

#lista-buscar{
	font-size:xx-small;
	font-weight:normal;
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:0;
	text-align:left;
	width:228px;
}

#lista-buscar > li{
	border-bottom:thin solid #477979;
	border-left:thin solid #477979;
	border-right:thin solid #477979;
	padding:5px;
}

#lista-buscar > li:hover{
	background-color:rgba(47, 79, 79, 0.75);
	color:rgba(255, 255, 255, 0.75);
}

.ac_results{
	background-color:initial;
}

.ac_even{
	background-color:rgba(255, 255, 255, 0.75);
}

.ac_odd{
	background-color:rgba(205, 205, 205, 0.75);
}

.ac_over{
	background-color:rgba(47, 79, 79, 0.75);
	color:rgba(255, 255, 255, 0.75);
}

#zona-texto-buscar{
	float:left;
	height:32px;
	width:228px;
}

#TextoBuscar{
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border:0 none;
	float:left;
	height:100%;
	margin:0;
	padding:0 4px;
	width:100%;
}

#zona-boton-buscar{
	float:right;
}

.boton-buscar{
	background:url("/matojos/images/botones/buscar.png") no-repeat scroll center center rgba(47, 79, 79, 0.75);
	border:0 none;
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), pointer;
	height:32px;
	width:42px;
}

/* B.2. BOTÓN PARA MOSTRAR PANEL LATERAL */
#mostrar-panel-lateral{
	left:120px;
	position:absolute;
	top:20px;
	visibility:hidden;
	z-index:99;
}

#mostrar-panel-lateral img{
	height:32px;
	vertical-align:middle;
	width:32px;
}

/* B.3. BOTONES DE DESPLAZAMIENTO */


/* B.4. BARRA Y BOTONES PARA ACERCAR/ALEJAR */
#sliderArea {
	background-color:transparent;
	border:medium none;
	height:225px;
	left:45px;
	position:absolute;
	top:115px;
	width:20px;
	z-index:99;
}

#sliderTool{
	margin:0 auto;
	position:static;
}

#sliderTool div{
	border-radius:4px;
	margin:0 auto;
}

.slider-top{
	border:medium none;
	border-radius:4px;
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
	height:16px;
	width:16px;
}

.slider-bottom{
	border:medium none;
	border-radius:4px;
	cursor:url(/matojos/images/punteros/mano-acusadora.cur), auto;
	height:16px;
	width:16px;
}

/* B.5. BARRA DE MENÚ */
.pm-toolbar-td img, .pm-toolbar-td-on img, .pm-toolbar-td-off img, .pm-toolbar-td-over img{
	height:24px;
	width:24px;
}

/* B.6. BOTÓN PARA OCULTAR/MOSTRAR BARRA DE MENÚ */
#mostrar-barra-herrammientas{
	left:45px;
	position:absolute;
	top:365px;
	z-index:99;
}

#mostrar-barra-herrammientas img{
	border:thin outset;
	height:16px;
	vertical-align:middle;
	width:16px;
}

/* B.7. LOGO DE LA BELLOTA SOFT */
#labellota-logo{
	bottom:10px;
	left:40px;
	margin:0;
	padding:0;
	position:absolute;
	z-index:99;
}

#labellota-logo img{
	border:medium none;
	height:25px;
	width:85px;
	vertical-align:middle;
}

/* B.8. COORDENADAS */
#showcoords{
	background-color:rgba(47, 79, 79, 0.75);
	bottom:15px;
	color:white;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:xx-small;
	height:16px;
	left:135px;
	margin:0;
	position:absolute;
	width:160px;
	z-index:99;
}

#xcoord{
	float:left;
	padding:2px 6px 2px 4px;
}

#ycoord{
	float:right;
	padding:2px 4px 2px 6px;
}

/* B.9. PIE */
#pie-panel-central{
	bottom:0;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	z-index:99;
}

#pie-panel-central p{
	background-color:rgba(255, 255, 255, 0.75);
	color:#2F4F4F;
	display:inline;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:xx-small;
	margin:0;
	overflow:hidden;
	padding:1px;
	vertical-align:sub;
	white-space:nowrap;
}

/* B.10. BARRA DE ESCALA */
#scalebar{
	background-color:rgba(255, 255, 255, 0.75);
	bottom:13px;
	left:auto;
	right:0;
	position:absolute;
}

.sbLabelBox{
	color:#2F4F4F !important;
	font-size:xx-small !important;
}

.sbNumbersBox{
	color:#2F4F4F !important;
	font-size:xx-small !important;
}

/* C. VENTANAS EMERGENTES */
/* C.1. ACERCA DE */
#acercade_MSG{
	background-color:whitesmoke;
	text-align:center;
}

#acercade_MSG a{
	color:steelblue ;
	font-weight:bold;
	text-decoration:none;
}

#acercade_MSG img{
	border:medium none;
	height:65px;
	margin:10px auto 5px auto;
	vertical-align:middle;
	width:190px;
}

#acercade_MSG p{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:normal;
}

.acercade_texto{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:normal;
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
}

/* C.2. FORMULARIO DE ESCALA */
#scaleform{
	text-align:center;
}

#scaleform div{
	padding:5px;
}
